body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-83px;
  width:429px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:329px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:38px;
  width:429px;
  height:329px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:338px;
  width:82px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:38px;
  width:26px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:38px;
  width:30px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:226px;
  width:53px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
