body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-49px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:716px;
  height:696px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:86px;
  width:700px;
  height:680px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:81px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u89_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:81px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:81px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:638px;
  width:536px;
  height:81px;
  display:flex;
  opacity:0.99;
  font-size:15px;
}
#u89 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_img.disabled {
}
#u89.disabled {
}
#u90 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:726px;
  width:88px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u91 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:726px;
  width:75px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:374px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:185px;
  width:530px;
  height:374px;
  display:flex;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:145px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:405px;
  width:210px;
  height:145px;
  display:flex;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:97px;
  background:inherit;
  background-color:rgba(18, 183, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:405px;
  width:198px;
  height:97px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
}
#u95 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:86px;
  width:32px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:86px;
  width:32px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
